@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
@font-face {
  font-family: "font1";
  src: url("font/Gabrielle.ttf") format("truetype");
}
@font-face {
  font-family: "font2";
  src: url("font/HandyGeorge.ttf") format("truetype");
}

body {
   min-height:100vh;
   background-color: #FFFFFF;                   /* 背景色 */
   background-image: url("picture/hana3.jpg");  /* 画像 */
   background-size: cover;                      /* 全画面 */
   //background-attachment: fixed;              /* 固定 */
   background-position: center center;          /* 縦横中央 */
   background-repeat: no-repeat;
   font-family: 'Noto Serif JP', sans-serif;
}
br {
    display: block;
    content: "";
    margin: 30px 0;
}
p 
{
    font-size: 3.8vw; 
    line-height: 0.5;
    color: #001e43;
}
.Title 
{
    text-align: center;

}
.Title h1
{
    margin-top: 10vh;
    font-size: 10vw; 
    color: #c1ab05;
    font-family: "font1", sans-serif;


}
.Title h2
{
    font-size: 5vw; 
    line-height: 0.5;
    color: #001e43;
    font-family: "font2", sans-serif;

}


